@{
    ViewData["Title"] = "My Account";
}

<h1>My Account</h1>

@User.Identity.Name

@if (User.IsInRole("Editor"))
{
    <p>You are are an editor!</p>
}

<form asp-action="UploadProfile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="profileImage" />
        <button type="submit">Upload</button>
    </div>
</form>

@{ var profileUrl = User.FindFirst("ProfileUrl"); }
@if (profileUrl != null)
{
    <img src="@profileUrl.Value" />
}