@page

@model E_Commerce_App.Pages.CartPageModel
@{
    Layout = "_ShopperLayout";
}

<h1>Sopping Cart</h1>

<p>Your Items</p>

<ul>
    @foreach (var cartItem in Model.CartItems)
    {
        <li>
            @cartItem.Product.Name
            @cartItem.Product.Price
        </li>
    }
</ul>


<a asp-page="Index">Go Home</a>

