@page

@model E_Commerce_App.Pages.ProductsPageModel
@{
    Layout = "_ShopperLayout";
}

<h1>Products</h1>

<p>Happy Shopping!</p>

<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                @product.Name
            </a>
        </li>
    }
</ul>


<a asp-page="CartPage">Shopping Cart</a>
