@page 
@model E_Commerce_App.Pages.ShopperIndexModel
@{
    Layout = "_ShopperLayout";
}

<h1>Hello Shopper!</h1>

<p>Select a category to start shopping!</p>

<ul>
    @foreach (var category in Model.Categories)
    {
        <li>
            <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                @category.Name
            </a>
        </li>
    }
</ul>


    <a asp-page="ProductsPage">Testing!!!!</a>
