@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<h2><a asp-controller="Categories" asp-action="Index">Categories</a></h2>

<h2><a asp-controller="Products" asp-action="Index">Products</a></h2>
